[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gensim = "*"
python-dotenv = "*"
psycopg2-binary = "*"
sentence-transformers = "*"
llama-cpp-python = "*"
groq = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
